.maincat{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 60px 60px auto;
    grid-template-areas: "sidebar title"
                         "sidebar topbar"
                         "sidebar products";
}
/*
.maincat div{
    border: solid red 2px; 
} 
*/

.sidebar{
    position: relative;
    grid-area: sidebar;
}
.sidebar .category-box{
    position: absolute;
    width: 70%;
    height: auto;
    border: solid grey 1px;
    padding: 15px;
    padding-left: 25px;
    top:60px;
    right:0;
    
}
@media (max-width: 800px){
    .sidebar .category-box{
        position: absolute;
        width: 100%;
        height: auto;
        border: solid grey 1px;
        padding: 15px;
        padding-left: 5px;
        top:60px;
        right:0;
        
    }
}
.category-list{
    list-style-type: none;
}
.category-list li{
    padding-top: 15px;
}
.category-list li a{
    text-decoration: none;
    color: #24252A;
}
.category-list li a:hover{
    text-decoration: none;
    color: #0088a9;
}
.category-list li ul{
    position: relative;
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;

    -webkit-transition: max-height 0.1s;
    -moz-transition: max-height 0.1s;
    transition: max-height 0.1s;
}
.category-list li ul.open{
    list-style-type: none;
    max-height: 1000px;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

.category-list li ul>li{
    padding-left: 20px;
}
.category-list button{
    position:absolute;
    right: 8px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-decoration: solid;
}
.category-list button:hover{
    background-color: #24252A;
    color: whitesmoke;
}


.title{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    grid-area: title;
    
}
.topbar{
    grid-area: topbar;
    padding-left: 15px;
    border-bottom: solid grey 1px;
}


@media (min-width: 1550px){
    .products{
        grid-area: products;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;

    }
}
@media (max-width: 1550px){
    .products{
        grid-area: products;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 33.4% 33.3% 33.3%;
        grid-template-rows: auto;

    }
}
@media (max-width: 1200px){
    .products{
        grid-area: products;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;

    }
}
@media (max-width: 800px){
    .products{
        grid-area: products;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;

    }
}
.product{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid grey 1px;
    padding-top: 15px;
}
.product:hover{
    border-bottom: solid black 2px;
}
.product a{
    text-decoration: none;
    color: #24252A;
    font-weight: bold;
}

