@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');



@media (max-width: 60em) {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: "Montserrat", sans-serif;
    background-color: rgb(243, 243, 243);
}

nav{
    background-color: #24252A;
    padding: 5px 20px;
}
    
.menu li a{
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    display:block;
}
a:hover{
    color: #0088a9;
}

.menu{
    list-style-type: none;
    overflow: hidden;
}

.item{

    font-size: 16px;
    padding: 15px 5px;
}

.item2{
    
    font-size: 16px;
    padding: 15px 15px;
}





.top-part{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
        
.itemDesktop{
    display: none;
}

 /* menu */
  
 .header .menu .bottom-part {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

/* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    padding-right: 2px;
    
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: whitesmoke;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: whitesmoke;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu .bottom-part {
    max-height: 800px;
    
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}
}


@media (min-width:60em){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        background-color: rgb(243, 243, 243);
    }
    
    nav{
        background-color: #24252A;
        padding: 5px 20px;
    }
        
    .menu li a{
        color: whitesmoke;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        display:block;
        margin-right: 10px;
    }
    .menu li a:hover{
        color: #0088a9;
    }
    
    .menu{
        list-style-type: none;
        overflow: hidden;
    }
    
    .item{
    
        font-size: 16px;
        padding: 15px 5px;
    }
    
    .item2{
        
        font-size: 16px;
        padding: 15px 15px;
    }
    
    .top-part{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .bottom-part{
        display:none;
    }
    .menu-btn, .menu-icon{
        display:none;
    }
    .itemDesktop{
        justify-self: flex-start;
        align-content: center;
        order: 1;
    }
    .item2{
        
        order: 2;
    }
    #margin{
        margin-left: auto;
    }

}
